* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:monospace;
    font-size: 16px;
    background-color: #efefef;
}

.container {
 width:100vw;
 height:100vh;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
    
}

.frame {
    display:flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:500px;
    border-radius: 20px;
    background-image: linear-gradient( #333333 20%, #1d1a1a 30%, #333333 80%);
}

.switch {
    width: 100px;
    height:250px;
    border-bottom: solid black 1px;
    background-image: linear-gradient( #464646 40%, #1d1a1a 60%);
    border-radius: 10px;
    box-shadow: -1px 0px 5px #464646, 3px 4px 6px black;
}


.switch-on {
    width: 100px;
    height:250px;
    border-bottom: solid black 1px;
    background-image: linear-gradient( #464646 40%, #1d1a1a 60%);
    border-radius: 10px;
    box-shadow: -1px 0px 5px #464646, 3px 4px 6px black;
}

.switch-off {
    width: 100px;
    height:250px;
    border-top: solid black 1px;
    background-image: linear-gradient(#1d1a1a 40%, #464646  60%);
    border-radius: 10px;
    box-shadow: 3px 4px 6px black, -1px 0px 5px #464646;
}

.dark-mode {
    background-color: black;
    color:white;
  }
